@using WebMatrix.Data
@using System.Data.SqlClient

@{
    ViewBag.Title = "Persistent/ Stored Cross-Site-Scripting";
    ViewBag.Description = "Tutorial";

    var db = Database.Open("Database1");
    var selectQueryString = "SELECT * FROM Guestbook";

    var guestbookentry = Request.Form["guestbookentry"];
    var usernameToStore = Request.Form["usernameToStore"];
    

    var entryString = Request.Unvalidated("guestbookentry"); // Validation bypassed
    if(entryString != null && entryString != "")
    {
        usernameToStore = Request.Form["usernameToStore"];
       // var name = usernameToStore.Substring(0, usernameToStore.IndexOf("'"));
        var name = "admin"; 
        var currentDate = DateTime.Now;
        var insertQuery = "INSERT INTO Guestbook (username, date, comment) " +
        "VALUES (@0, @1, @2)";
        db.Execute(insertQuery, name, currentDate, entryString);
    }
}

<script src="~/Scripts/js/guestbook.js" type="text/javascript"></script>
<script src="~/Content/js/plugins/jquery/jquery-2.2.4.min.js"></script>
<style>
    .modal-header, h4, .close {
        background-color: #006dcc;
        color: white !important;
        text-align: center;
        font-size: 30px;
    }

    .modal-footer {
        background-color: #f9f9f9;
    }
</style>
<script>
    $(document).ready(function () {
        $("#letsGo").click(function () {
            $("#loginModal").modal();
        });
        /*
        $("#loginButton").click(function () {
            var username = $("#usrname").val();
            var password = $("#pwd").val(); 

            if (username === "Mr.Robot" && password === "hallo123") {
                $("#loginModal").modal().toggle(); 
                alert("login success");
            } else {
                alert("Wrong Login credentials");
                $("#loginModal").modal();
            }
        });
        */
    });

</script>

<body onload="checkCookiesForLoggedinUser();">
    <!-- Modal only for login -->
    <div class="modal fade" id="loginModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
                    <h6>Gültige Credentials: admin/admin, Mr.Robot/hallo123, user/password1</h6>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form role="form">
                        <div class="form-group">
                            <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                            <input type="text" class="form-control" name="usrname" id="usrname" value="@usernameToStore" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="pwd"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                            <input type="text" class="form-control" id="pwd" name="pwd" placeholder="Enter password">
                        </div>
                        <button class="btn btn-success" id="loginButton" onclick="checkLoginInput();"><span class="glyphicon glyphicon-off"></span> Login</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                    <p>Not a member? <a href="#">Sign Up</a></p>
                    <p>Forgot <a href="#">Password?</a></p>
                </div>
            </div>

        </div>
    </div>

    <!-- Tutorial Part -->
    <div class="row">
            <div class="col-xs-8 col-md-8">
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">Aufgabenstellung</h3>
                    </div>
                    <div class="box-body">
                        <h5><b><u>Stored Cross Site Scripting</u></b></h5>
                        <p style="text-align: justify;">
                            Stored attacks are those where the injected script is permanently stored on the target servers, such as in a database, in a message forum, visitor log, comment field, etc. The victim then retrieves the malicious script from the server when it requests the stored information.
                            Stored XSS is also sometimes referred to as Persistent or Type-I XSS
                        </p>
                        <div class="col-xs-12 col-md-12">
                            <img src="~/Content/img/storedXSS.jpg" class="img-responsive" alt="Stored-Cross-Site Scripting">
                        </div>
                        <h5><b><u>Aufgabe</u></b></h5>
                        <blockquote>
                            <p>
                                Dieses Tutorial entspricht einem Gästebuch, in dem User eine Nachricht hinterlassen können. Die eingetragenen Daten werden serverseitig in einer
                                Datenbank gespeichert. Finden Sie eine Möglichkeit, um diese Sicherheitslücke auszunutzen
                            </p>
                        </blockquote>
                        <button type="button" class="btn btn-primary" align="right" id="letsGo">Los Geht's</button>
                    </div>
                </div>
                
                <!-- Guestbook Part-->
                <div class="box box-default" id="guestbook" hidden>
                    <div class="box-header">
                        <h3 class="box-title">Aufgabe</h3>
                    </div>
                    <div class="box-body">
                        <form role="form">
                            <div class="form-group">
                                <label id="labelGuestbook" for="guestbookEntry"></label>
                                <textarea class="form-control" id="guestbookentry" name="guestbookentry" value="@guestbookentry" rows="4"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        <br /><br />
                        <!-- TODO: HIDDEN INPUT -->
                        <h3 id="guestbookHeader">""</h3>
                        <table class="table table-striped" id="guestbook">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Datum</th>
                                    <th>Eintrag</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var row in db.Query(selectQueryString))
                                {
                                    <tr>
                                        <td>@row.username</td>
                                        <td>@row.date</td>
                                        <td>@row.comment</td>
                                    </tr>
                                }
                          <!--      <tr>
                                <td>jlöjl</td>
                                <td>jlkösakd</td>
                                <td><script>alert("Test"); </script></td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        <div class="col-xs-4 col-md-4">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Tipps</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-10 col-md-10">
                            <ul class="list-group">
                                <li class="list-group-item">Schreibe den Schadcode als JavaScript als einen Gästebucheintrag.</li>
                                <li class="list-group-item">Die Logindaten werden als Cookie gespeichert. </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
