@{
    ViewBag.Title = "Login-Parcours";
    ViewBag.Description = "Übungsaufgaben";
}

<div class="row">
    <div class="col-xs-8 col-md-8">
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title">Aufgabenstellung</h3>
            </div>
            <div class="box-body">
                    <p> Aufgabenstellung + Idee: Gib den User eine Möglichkeit verschiedene unsichere Login-Fenster zu knacken. 
                    Teilweise sehr einfach, manchmal auch etwas kniffelig</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-12">
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title">Login-Parcours</h3>
            </div>
            <div class="box-body">
                <table class="table table-bordered">
                  <!-- <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead> --> 
                    <tbody>
                        <tr>
                            <td>
                                <a href="@Url.Action("LoginParcoursLevel1", "Home")"><i class="glyphicon glyphicon-log-in"></i> <span> Level1 - Simple JavaScript</span></a>
                            </td>

                            <td>
                                <a href="@Url.Action("LoginParcoursLevel2", "Home")"><i class="glyphicon glyphicon-log-in"></i> <span> Level2 - JS decoding fun</span></a>
                            </td>
                            <td>
                                <a href="@Url.Action("LoginParcoursLevel3", "Home")"><i class="glyphicon glyphicon-log-in"></i> <span> Level3 - Find the source code </span></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="@Url.Action("LoginParcoursLevel4", "Home")"><i class="glyphicon glyphicon-log-in"></i> <span> Level4 - Bob's fault</span></a>
                            </td>
                            <td>
                                <a href="@Url.Action("LoginParcoursLevel5", "Home")"><i class="glyphicon glyphicon-log-in"></i> <span> Level5 - Caeser</span></a>
                            </td>
                            <td>
                                <a href="@Url.Action("LoginParcoursLevel6", "Home")"><i class="glyphicon glyphicon-log-in"></i> <span> Level6 - Bcrypt Cracking</span></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="@Url.Action("LoginParcoursLevel7", "Home")"><i class="glyphicon glyphicon-log-in"></i> <span> Level7</span></a>
                            </td>
                            <td>
                                <a href="@Url.Action("LoginParcoursLevel8", "Home")"><i class="glyphicon glyphicon-log-in"></i> <span> Level8 - Packet analyzing</span></a>
                            </td>
                            <td>
                                <a href="@Url.Action("LoginParcoursLevel9", "Home")"><i class="glyphicon glyphicon-log-in"></i> <span> Level9 - MD5</span></a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>