@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">TUTORIALS</li>
            <li class="@Url.IsLinkActive("Index", "Home")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-link"></i> <span>Home</span></a>
            </li>
            <li class="@Url.IsLinkActive("TestLink", "Home")">
                <a href="@Url.Action("TestLink", "Home")"><i class="fa fa-link"></i> <span>Test Link</span></a>
            </li>

            <li class="@Url.IsLinkActive("SessionManagementLink", "Home")">
                <a href="@Url.Action("SessionManagementLink", "Home")"><i class="fa fa-link"></i> <span>Session Management</span></a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>XSS</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" >
                    <li><a href="#">Cross Site Scripting General</a></li>
                    <li><a href="#">Reflected Cross Site Scripting</a></li>
                    <li class="@Url.IsLinkActive("PersistentXSSGuestbook", "Home")">
                        <a href="@Url.Action("PersistentXSSGuestbook", "Home")">Stored XSS - Guestbook</a>
                    </li>
                    <li  class="@Url.IsLinkActive("LocalXSS", "Home")">
                        <a href="@Url.Action("LocalXSS", "Home")">DOM-based/ Local XSS</a>
                    </li>
                </ul>
            </li>

            <li class="@Url.IsLinkActive("LoginParcours", "Home")">
                <a href="@Url.Action("LoginParcours", "Home")"><i class="fa fa-link"></i> <span>Login-Parcour</span></a>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>